@page
@model AzureBlobStorageApp.Pages.Errors._404Model
@{
}

<div class="container">
    <div class="row text-center">
        <h1>
            404 Not Found.
        </h1>
        <p>
            You page or request you're looking for cannot be found.
        </p>
    </div>
</div>